<!-- ======== @Region: #highlighted ======== -->
<div id="highlighted">
  <div class="inner">
    <!--Static Banner-->
    <section class="static-banner container">
      <div class="slide">
        <div class="col-md-7">
          <img src="/img/features/masterapigoa.png" alt="Mastering API Development with goa" class="img-responsive" />
        </div>
        <div class="col-md-5 caption">
          <h2>
            Learn API Development in Go with goa
          </h2>
          <h4>
            From Design to Deployment
          </h4>
          <p>This online course will teach you how to build a fast and maintainable API using goa.</p>
          <a href="http://learn.brianketelsen.com/courses/master-api-development-with-goa?product_id=140234&coupon_code=GOAVIDEO" class="btn btn-lg btn-primary">Buy Now - Save 20%</a> 
        </div>
      </div>
    </section>
  </div>
</div>
