        <!--Customer testimonial-->
        <div class="testimonials margin-top-large margin-bottom-large" id="testimonials">
          <h3 class="title-divider">
            <span>Highly <span class="de-em">Recommended</span></span>
            <small>Actual Customer Feedback</small>
          </h3>
          <div class="row">
            <div class="col-md-4">
              <blockquote>
                <p>You were a joy to listen to and exceeded my expectations.</p>
                <footer>
                  <img src="/img/team/jimi.jpg" alt="Jimi Bloggs" class="img-circle" />
                  Z.R. <span class="spacer">/</span> <a href="/training/goa/">Microservices with Goa</a>
                </footer>
              </blockquote>
            </div>
            <div class="col-md-4">
              <blockquote>
                <p>"You have excellent delivery skills and the pacing was correct for the amount of material vs time."</p>
                <footer>
                  <img src="/img/team/steve.jpg" alt="Jimi Bloggs" class="img-circle" />
                  S.M. <span class="spacer">/</span> <a href="/training/goa/">Microservices with Goa</a>
                </footer>
              </blockquote>
            </div>
            <div class="col-md-4">
              <blockquote>
                <p>"Looking for Go training or consulting? I highly recommend @bketelsen. Super smart and all-around awesome person."</p>
                <footer>
                  <img src="/img/team/adele.jpg" alt="Adele Bloggs" class="img-circle" />
                  @benbjohnson <span class="spacer">/</span> <a href="https://twitter.com/benbjohnson/status/764134660129435648">Twitter</a>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
