
          <!-- @Element: Subscribe button -->
          <div class="block">
            <a href="/blog/index.xml" type="application/rss+xml" class="btn btn-warning"><i class="fa fa-rss"></i> Subscribe via RSS feed</a>
          </div>
          
          <!-- Follow Widget -->
          <div class="block">
            <h4 class="title-divider">
              <span>Follow Me On</span>
            </h4>
            <!--@todo: replace with real social media links -->
            <ul class="list-unstyled social-media-branding">
              <li>
                <a href="https://twitter.com/derekketelsen" class="social-link branding-twitter"><i class="fa fa-twitter-square fa-fw"></i> Twitter</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/derekketelsen" class="social-link branding-linkedin"><i class="fa fa-linkedin-square fa-fw"></i> LinkedIn</a>
              </li>
              <li>
                <a href="https://plus.google.com/u/0/+BrianKetelsen" class="social-link branding-google-plus"><i class="fa fa-google-plus-square fa-fw"></i> Google+</a>
              </li>
            </ul>
          </div>
